{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>If the plot is a pie plot, then only the y-axis is used to make the plot.</p>
    
{% for default_plot_option in default_plot_options %}
    <form method="POST" class="container" id="dashboardForm{{ loop.index0 }}">
        <input type="hidden" value = "{{ loop.index0 }}" name="formIndex">

        <div class="row">
            <label for="plotTypeSelect" class="col-sm-2 col-form-label">plot type</label>
            <select class="col-sm-10" name="plotType" id="plotTypeSelect">
                {% for plot_type in plot_types %}
                    {% if plot_type == default_plot_option.plot_type.value %}
                        <option value="{{ plot_type }}" selected>{{ plot_type }}</option>
                    {% else %}
                        <option value="{{ plot_type }}">{{ plot_type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <label for="xAxisSelect" class="col-sm-2 col-form-label">x-axis</label>
            <select class="col-sm-10" name="xAxis" id="xAxisSelect">
                {% for column_name in table_info.column_names %}
                    {% if column_name == default_plot_option.x_axis %}
                        <option value="{{ column_name }}" selected>{{ column_name }}</option>
                    {% else %}
                        <option value="{{ column_name }}">{{ column_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="row">
            <label for="yAxisSelect" class="col-sm-2 col-form-label">y-axis</label>
            <select class="col-sm-10" name="yAxis" id="yAxisSelect">
                {% for column_name in table_info.column_names %}
                    {% if column_name == default_plot_option.y_axis%}
                        <option value="{{ column_name }}" selected>{{ column_name }}</option>
                    {% else %}
                        <option value="{{ column_name }}">{{ column_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>   
    <hr />
{% endfor %}

<button type="button" class="btn btn-primary btn-lg col-sm-3 g-0" id="dashboardSubmitButton">
    <span class="spinner-border spinner-border-sm" role="status" hidden id="dashboardSubmitSpinner"></span>
    <p id="dashboardSubmitButtonText">Submit</p>
</button>

<div id="plotsDiv">
    {% for default_plot_option in default_plot_options %}
    <div id="plot{{ loop.index0 }}">
        <div class="progress" id="progressDiv{{ loop.index0 }}" hidden>
            <div class="progress-bar" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="1" area-valuemax="100" id="progressBar{{ loop.index0 }}" hidden></div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    //IMPORTANT: used for requests !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    const numberOfRequestsToSubmit = {{ default_plot_options| length }};
    let numberOfPlotsLoaded = 0
    
    const dashBoardSubmitButton = document.querySelector("#dashboardSubmitButton");
    const dashboardSubmitButtonText = document.querySelector("#dashboardSubmitButtonText");
    const dashboardSubmitSpinner = document.querySelector("#dashboardSubmitSpinner");
    
    const plotsDiv = document.querySelector("#plotsDiv");

    dashBoardSubmitButton.addEventListener("click", (event) => {
        //event.preventDefault();

        // Removes everything except the progress bar from each of the plots in plotDiv.
        // Also shows the progress bars.
        plotsDiv.childNodes.forEach((plot) => {
            let nodesToRemove = [];
            plot.childNodes.forEach((childOfPlot) => {
                if (childOfPlot.className !== "progress") {
                    nodesToRemove.push(childOfPlot);
                } else {
                    // Shows the progress bars and sets them to 1%
                    childOfPlot.hidden = false;
                    childOfPlot.childNodes.forEach((grandChildOfPlot) => {
                        if (grandChildOfPlot.className === "progress-bar") {
                            grandChildOfPlot.hidden = false;
                            grandChildOfPlot.style.width = "1%"
                            grandChildOfPlot.setAttribute("aria-valuenow", 1);
                        }
                    })
                }
            });
            nodesToRemove.forEach(node => node.remove());
        });

        
        // Disables submitter button and shows dashboardSubmitSpinner
        dashBoardSubmitButton.disabled = true;
        dashboardSubmitButtonText.innerText = "Loading Plot(s)";
        dashboardSubmitSpinner.hidden = false;

        // Gets plotsDiv's innerHTML from server
        fetchPlots()
    });

    plotsDiv.addEventListener("plotLoaded", (plotLoadedEvent) => {
        // Hides the progress bar
        let progressIndex = plotLoadedEvent.detail.progressIndex;
        document.querySelector("#progressDiv" + progressIndex).hidden = true;
        document.querySelector("#progressBar" + progressIndex).hidden = true;

        numberOfPlotsLoaded++
        // If all requests have been submitted, makes the submit button available again
        if (numberOfPlotsLoaded === numberOfRequestsToSubmit) {
            dashBoardSubmitButton.disabled = false;
            dashboardSubmitButtonText.innerText = "Submit"
            dashboardSubmitSpinner.hidden = true;
            
            // Resets the numberOfPlotsLoaded so that the user can submit the forms again
            numberOfPlotsLoaded = 0;
        }

    })

    // Recursively submits a fetch request for each dashboardForm
    function fetchPlots() {
        for (let i = 0; i < numberOfRequestsToSubmit; i++) {
            let formToSubmit = document.querySelector(("#dashboardForm" + i))
            fetch(formToSubmit.action, {
                method:formToSubmit.method,
                body: new URLSearchParams([...(new FormData(formToSubmit))]),
            })
            .then( response => {
                let statusUrl = response.headers.get("Location");
                let plotId = response.headers.get("plotId");
                fetchDashboardPlot(statusUrl, plotId);
            })
        }
    }

    function fetchDashboardPlot(statusUrl, plotId) {
        let plot = document.querySelector("#" + plotId);
        // plotId is of the form "plotN" where N is an number
        let progressIndex = plotId[plotId.length - 1];
        let progressDiv = document.querySelector("#progressDiv" + progressIndex);
        let progressBar = document.querySelector("#progressBar" + progressIndex);

        fetch(statusUrl)
        .then(response => response.json())
        .then(response => {
           if (response.state == "SUCCESS") {
                if (response.hasOwnProperty("result")) {
                    plot.innerHTML += response.result;
                } else {
                    plot.innerHTML += response.state;
                }
                // Sends plotLoaded event
                plotsDiv.dispatchEvent(new CustomEvent("plotLoaded", {
                    detail: {
                        progressIndex: progressIndex,
                    }
                }));
            } else if (response.state === "FAILURE") {
                plot.innerHTML += response.state;
                // Sends plotLoaded event
                plotsDiv.dispatchEvent(new CustomEvent("plotLoaded", {
                    detail: {
                        progressIndex: progressIndex,
                    }
                }));
            } else {
                // Updates progress bar
                let currentValue = parseInt(progressBar.getAttribute("aria-valuenow"));
                if (currentValue < 90) {
                    let newValue = currentValue + 4;
                    progressBar.style.width = newValue + "%";
                    progressBar.setAttribute("aria-valuenow", newValue);
                }
                // Resubmits in 2 seconds
                setTimeout(() => fetchDashboardPlot(statusUrl, plotId), 1.0*1000);
            }
        })
    }
   

    // Clicks dashboardSubmitButton when this html is first rendered to load default plots
    document.querySelector("#dashboardSubmitButton").click()
</script>

{% endblock %}
