{% extends "layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>The definitions and values of the table columns are found <a href="https://ffiec.cfpb.gov/documentation/2019/lar-data-fields/">here</a></p>

<form class="container" id="sqlQueryForm">
	<div id="sqlQueryDiv">
		<div class="row g-0" id="sqlQueryDivRow0">
			<div class="col-sm-2" id="sqlStatementTypeSelectDivCol">
				<select class="form-select" required name="sqlQueryType">
					<option value=""></option>
					<option value="SELECT">SELECT</option>
					<option value="UPDATE">UPDATE</option>
				</select>
			</div>
		</div>
		<div class="row g-0" id="sqlQueryDivRow1"></div>
		<div class="row g-0" id="sqlQueryDivRow2"></div>
	</div>

	<div class="row g-0" id="limitDivRow"></div>

	<button type="submit" class="btn btn-primary btn-lg col-sm-3 g-0" form="sqlQueryForm" formaction="/query" formmethod="POST" disabled id="submitQueryButton">
		<span class="spinner-border spinner-border-sm" role="status" hidden id="submitQuerySpinner"></span>
		Submit Query
	</button>

	<!-- used for testing, normally hidden-->
	<div class="row g-0" id="plotDivRow" hidden>
		<label for="plotType" class="col-sm-1">plot type</label>
		<div class="col-sm-2">
			<select class="form-select" name="plotType" id="plotTypeSelect">
				{% for plot_type in plot_types %}
					<option value="{{ plot_type }}">{{ plot_type }}</option>
				{% endfor %}
			</select>
		</div>

		<label for="xAxisSelect" class="col-sm-1"> x-axis </label>
		<div class="col-sm-2">
			<select class="form-select" name="xAxis" id="xAxisSelect"></select>
		</div>

		<label for="yAxisSelect" class="col-sm-1"> y-axis </label>
		<div class="col-sm-2">
			<select class="form-select" name="yAxis" id="yAxisSelect"></select>
		</div>

		<button type="submit" class="btn btn-primary btn-lg col-sm-3 g-0" form="sqlQueryForm" formaction="/plot" formmethod="POST" formtarget="_blank" id="plotButton">
			<span class="spinner-border spinner-border-sm" role="status" hidden id="plotSpinner"></span>
			Plot
		</button>
	</div>
	<!-- -->

</form>
<div id="plot"></div>
<div id="queryResult"></div>

{% endblock %}

{% block scripts %}

<script>
 //cannot use src because contains python variables that need to be processed by the SimpleTemplateEngine
	//document elements
	const sqlQueryForm = document.querySelector("#sqlQueryForm");
	sqlQueryForm.addEventListener("submit", submitForm);
	const sqlQueryDiv = document.querySelector("#sqlQueryDiv");
	const sqlQueryDivRow0 = document.querySelector("#sqlQueryDivRow0");
	const sqlStatementTypeSelect = document.querySelector("#sqlStatementTypeSelectDivCol");
	sqlStatementTypeSelect.addEventListener("change", changeSqlQueryForm);
	const sqlQueryDivRow1 = document.querySelector("#sqlQueryDivRow1");
	const sqlQueryDivRow2 = document.querySelector("#sqlQueryDivRow2");
	const limitDivRow = document.querySelector("#limitDivRow")
	const submitQueryButton = document.querySelector("#submitQueryButton")
	const plotDivRow = document.querySelector("#plotDivRow")

	const queryResult = document.querySelector("#queryResult")

	//IMPORTANT: AFFECTS THE NAME ATTRIBUTE OF HTML ELEMENTS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	var rowIndex = 3;

	function changeSqlQueryForm(event) {
		submitQueryButton.disabled = false;
		plotDivRow.hidden = true;

		resetHTML()

		selectedSqlQueryType = event.target.value
		switch (selectedSqlQueryType) {
			case "SELECT":
				// select_TableColumnsSelectDivCol
				const select_TableColumnsSelectDivCol = document.createElement("div");
				select_TableColumnsSelectDivCol.className = "col-sm-6";
				select_TableColumnsSelectDivCol.id = "tableColumnsSelectDivCol";

				const tableColumnsSelect = document.createElement("select");
				tableColumnsSelect.className = "form-select";
				tableColumnsSelect.name = "tableColumns";
				tableColumnsSelect.multiple = true;
				tableColumnsSelect.required = true;
				tableColumnsSelect.id = "select_TableColumnsSelect";
				//adds options from tableColumns to tableColumnsSelect
				const tableColumns = {{ table_info.column_names|safe }};//python variable
				for (const tableColumn of tableColumns) {
					const option = document.createElement("option");
					option.value = tableColumn;
					option.id = tableColumn;
					option.appendChild(document.createTextNode(tableColumn));
					tableColumnsSelect.appendChild(option);
				}

				select_TableColumnsSelectDivCol.appendChild(tableColumnsSelect);
				sqlQueryDivRow0.appendChild(select_TableColumnsSelectDivCol);

				//fromLabel
				sqlQueryDivRow1.appendChild(makeLabel("tableColumnsSelect", "fromLabel", "FROM"))

				//tableToSelectFromDivCol
				const tableToSelectFromDivCol = document.createElement("div");
				tableToSelectFromDivCol.className = "col-sm-7";
				tableToSelectFromDivCol.id = "tableToSelectFromDivCol"
				const tableToSelectFromSelect = document.createElement("select")
				tableToSelectFromSelect.className = "form-select col-sm"
				tableToSelectFromSelect.required = true
				tableToSelectFromSelect.name = "tableToSelectFrom"

				tableToSelectFromSelect.appendChild(makeTableOption())
				tableToSelectFromDivCol.appendChild(tableToSelectFromSelect)
				sqlQueryDivRow1.appendChild(tableToSelectFromDivCol)


				//whereLabel
				sqlQueryDivRow2.appendChild(makeLabel("addWhereConditionButton", "whereLabel", "WHERE"))
				//addWhereConditionButton
				sqlQueryDivRow2.appendChild(makeAddWhereConditionButton())

				//populates limitDivRow
				const limitNumberInput = document.createElement("input")
				limitNumberInput.type = "number"
				limitNumberInput.className = "col-sm-2"
				limitNumberInput.min = "1"
				limitNumberInput.max = "500"
				limitNumberInput.required = true
				limitNumberInput.name = "limit"
				limitNumberInput.value = "50"
				limitNumberInput.id = "limitNumberInput"
				limitDivRow.appendChild(makeLabel("limitNumberInput", "limitLabel", "LIMIT"))
				limitDivRow.appendChild(limitNumberInput)

				break;

			case "UPDATE":
				//tableToUpdateDivCol
				const tableToUpdateDivCol = document.createElement("div");
				tableToUpdateDivCol.className = "col-sm-7";
				tableToUpdateDivCol.id = "tableToUpdateDivCol"
				const tableToUpdateSelect = document.createElement("select");
				tableToUpdateSelect.className = "form-select"
				tableToUpdateSelect.required = true
				tableToUpdateSelect.name = "tableToUpdate"
				tableToUpdateSelect.appendChild(makeTableOption())
				tableToUpdateDivCol.appendChild(tableToUpdateSelect);
				sqlQueryDivRow0.appendChild(tableToUpdateDivCol);

				//setLabel
				sqlQueryDivRow1.appendChild(makeLabel("tableColumnsSelect", "setLabel", "SET"))

				// // update_TableColumnsSelectDivCol
				const update_TableColumnsSelectDivCol = makeTableColumnsSelectDivCol(true, false)
				update_TableColumnsSelectDivCol.className = "col-sm-5"
				sqlQueryDivRow1.appendChild(update_TableColumnsSelectDivCol);

				//equalLabel
				sqlQueryDivRow1.appendChild(makeLabel("setExpressionTextInput", "equalLabel", "="))

				//setExpressionTextInputDivCol
				const setExpressionTextInputDivCol = document.createElement("div");
				setExpressionTextInputDivCol.className = "col-sm-2";
				setExpressionTextInputDivCol.id = "setExpressionTextInputDivCol";
				const setExpressionTextInput = document.createElement("input");
				setExpressionTextInput.type = "text";
				setExpressionTextInput.className = "form-control"
				setExpressionTextInput.required = true
				setExpressionTextInput.name = "setExpression"
				setExpressionTextInputDivCol.appendChild(setExpressionTextInput);
				sqlQueryDivRow1.appendChild(setExpressionTextInputDivCol);

				//whereLabel
				sqlQueryDivRow2.appendChild(makeLabel("addWhereConditionButton", "whereLabel", "WHERE"))
				//addWhereConditionButton
				sqlQueryDivRow2.appendChild(makeAddWhereConditionButton())

				break;

			default:
				submitQueryButton.disabled = true;
		}
	}

	function makeTableColumnsSelectDivCol(shouldBeMultiple, shouldAddRowIndex) {
		const tableColumnsSelectDivCol = document.createElement("div");
		tableColumnsSelectDivCol.className = "col-sm-6";
		tableColumnsSelectDivCol.id = "tableColumnsSelectDivCol";

		tableColumnsSelectDivCol.appendChild(makeTableColumnsSelect(shouldBeMultiple, shouldAddRowIndex));
		return tableColumnsSelectDivCol;
	}

	function makeTableColumnsSelect(shouldBeMultiple, shouldAddRowIndex) {
		const tableColumnsSelect = document.createElement("select");
		tableColumnsSelect.className = "form-select";
		if (shouldAddRowIndex) {
			tableColumnsSelect.name = "tableColumns" + rowIndex;
		} else {
			tableColumnsSelect.name = "tableColumns";
		}
		tableColumnsSelect.multiple = shouldBeMultiple;
		tableColumnsSelect.required = true;
		tableColumnsSelect.id = "tableColumnsSelect";

		//adds options from tableColumns to tableColumnsSelect
		const tableColumns = {{ table_info.column_names|safe }};//python variable
		for (const tableColumn of tableColumns) {
			const option = document.createElement("option");
			option.value = tableColumn;
			option.id = tableColumn;
			option.appendChild(document.createTextNode(tableColumn));
			tableColumnsSelect.appendChild(option);
		}
		return tableColumnsSelect
	}

	function makeTableOption() {
		const tableOption = document.createElement("option")
		tableOption.appendChild(document.createTextNode("{{ table_info.table_name|safe }}"))//python variable
		tableOption.value = "{{ table_info.table_name|safe }}"

		return tableOption;
	}

	function makeLabel(htmlFor, id, text) {
		const label = document.createElement("label");
		label.htmlFor = htmlFor;
		label.className = "col-sm-1";
		label.id = id;
		label.appendChild(document.createTextNode(text));

		return label;
	}

	function makeAddWhereConditionButton() {
		const sqlQueryDiv = document.querySelector("#sqlQueryDiv");

		addWhereConditionButton = document.createElement("button")
		addWhereConditionButton.type="button"
		addWhereConditionButton.className = "btn btn-outline-secondary text-nowrap col-sm-3"
		addWhereConditionButton.id = "addWhereConditionButton"
		addWhereConditionButton.appendChild(document.createTextNode("Add Condition"))
		addWhereConditionButton.addEventListener("click", () => {

			const whereConditionDivRow = document.createElement("div")
			whereConditionDivRow.className = "row g-0"
			rowIndex += 1;
			whereConditionDivRow.id = "sqlQueryDivRow" + rowIndex;


			//tabelColumnsSelectDivCol
			const tableColumnsSelectDivCol = makeTableColumnsSelectDivCol(false, true)
			tableColumnsSelectDivCol.className = "col-sm-3 g-0"
			whereConditionDivRow.appendChild(tableColumnsSelectDivCol)
			// relationalOperatorSelectDivCol
			const relationalOperatorSelectDivCol = document.createElement("div")
			relationalOperatorSelectDivCol.className = "col-sm-1"
			whereConditionDivRow.appendChild(relationalOperatorSelectDivCol)

			const relationalOperatorSelect = document.createElement("select")
			relationalOperatorSelect.className = "form-select"
			relationalOperatorSelect.required = true;
			relationalOperatorSelect.name = "relationalOperator" + rowIndex
			relationalOperatorSelectDivCol.appendChild(relationalOperatorSelect)

			relationalOperatorArray = ["=", "!=", "<", "<=", ">", ">="]
			relationalOperatorArray.forEach(relationalOperator => {
				const relationalOperatorOption = document.createElement("option")
				relationalOperatorOption.value = relationalOperator
				relationalOperatorOption.appendChild(document.createTextNode(relationalOperator))
				relationalOperatorSelect.appendChild(relationalOperatorOption)
			})


			//rightOperandTextInput
			const rightOperandTextInput = document.createElement("input")
			rightOperandTextInput.type = "text"
			rightOperandTextInput.className = "col-sm-3"
			rightOperandTextInput.required = true
			rightOperandTextInput.name = "rightOperand" + rowIndex
			whereConditionDivRow.appendChild(rightOperandTextInput)
			// logicalOperatorSelectDivCol
			const logicalOperatorSelectDivCol = document.createElement("div")
			logicalOperatorSelectDivCol.className = "col-sm-1"
			whereConditionDivRow.appendChild(logicalOperatorSelectDivCol)

			const logicalOperatorSelect = document.createElement("select")
			logicalOperatorSelect.className = "form-select"
			logicalOperatorSelect.required = true;
			logicalOperatorSelect.name = "logicalOperator" + rowIndex
			logicalOperatorSelectDivCol.appendChild(logicalOperatorSelect)

			logicalOperatorArray = ["AND", "OR"]
			logicalOperatorArray.forEach(logicalOperator => {
				const logicalOperatorOption = document.createElement("option")
				logicalOperatorOption.value = logicalOperator
				logicalOperatorOption.appendChild(document.createTextNode(logicalOperator))
				logicalOperatorSelect.appendChild(logicalOperatorOption)
			})

			sqlQueryDiv.appendChild(whereConditionDivRow)
		})

		return addWhereConditionButton
	}

	function resetHTML() {
		//resets to original html above by removing added children nodes

		//removes all of sqlQueryDivRow0 child nodes except sqlStatementTypeSelectDivCol
		let nodesToRemove = []
		sqlQueryDivRow0.childNodes.forEach((node) => {
			if (node.id !== "sqlStatementTypeSelectDivCol") {
					nodesToRemove.push(node)
			}
		});
		nodesToRemove.forEach(node => node.remove())

		//removes all of sqlQueryDivRow1 child nodes
		while (sqlQueryDivRow1.firstChild) {
			sqlQueryDivRow1.removeChild(sqlQueryDivRow1.firstChild)
		}
		//removes all of sqlQueryDivRow2 child nodes
		while (sqlQueryDivRow2.firstChild) {
			sqlQueryDivRow2.removeChild(sqlQueryDivRow2.firstChild)
		}

		//removes all added whereConditionDivRow elements in sqlQueryDiv
		nodesToRemove = []
		sqlQueryDiv.childNodes.forEach((node) => {
			if ((node.id !== "sqlQueryDivRow0") && (node.id !== "sqlQueryDivRow1") && (node.id !== "sqlQueryDivRow2")) {
				nodesToRemove.push(node)
			}
		})
		nodesToRemove.forEach(node => node.remove())

		//removes all child nodes in limitDivRow
		while (limitDivRow.firstChild) {
			limitDivRow.removeChild(limitDivRow.firstChild)
		}

		//removes all child nodes in queryResult
		while (queryResult.firstChild){
			queryResult.removeChild(queryResult.firstChild)
		}

		//RESETS rowIndex BACK TO 2
		rowIndex = 2;
	}

	async function submitForm(event) {
		event.preventDefault();
		const form = event.target;
		const submitterButton = event.submitter

		if (submitterButton.id === "submitQueryButton") {
			//removes all child nodes in queryResult
			const queryResult = document.querySelector("#queryResult")
			while (queryResult.firstChild) {
				queryResult.removeChild(queryResult.firstChild);
			}

			//disables submitQueryButton and shows submitQuerySpinner
			const submitQueryButton = document.querySelector("#submitQueryButton");
			submitQueryButton.disabled = true;
			const submitQuerySpinner = document.querySelector("#submitQuerySpinner")
			submitQuerySpinner.hidden = false

			//gets queryResult's innerHTML from server
			const result = await fetch(submitterButton.formAction, {
					method: submitterButton.formMethod,
					body: new URLSearchParams([...(new FormData(form))]),
				})
				.then((response) => response.text())
				.then((text) => { queryResult.innerHTML = text })
				.catch((error) => console.log(error));

			//enables submitQueryButton and hides spinner
			submitQueryButton.disabled = false;
			submitQuerySpinner.hidden = true;

			//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! shows plotDivRow and adds options to Axes
            //const plotDivRow = document.querySelector("#plotDivRow")
            //plotDivRow.hidden = false
            //addOptionsToAxes()
			//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


		} else if (submitterButton.id === "plotButton") {
			//removes all child nodes in plot
			const plot = document.querySelector("#plot")
			while(plot.firstChild){
				plot.removeChild(plot.firstChild);
			}

			//disables plotButton and shows spinner
			const plotButton = document.querySelector("#plotButton");
			plotButton.disabled = true;
			const plotSpinner = document.querySelector("#plotSpinner")
			plotSpinner.hidden = false

			//gets plot's innerHTML from server
			const result = await fetch(submitterButton.formAction, {
					method: submitterButton.formMethod,
					body: new URLSearchParams([...(new FormData(form))]),
				})
				.then((response) => response.text())
				.then((text) => {
						plot.innerHTML = text
					}
				)
				.catch((error) => console.log(error));

			//enables plotButton and hides plotSpinner
			plotButton.disabled = false;
			plotSpinner.hidden = true;
		}

	}

	function addOptionsToAxes() {
		const xAxisSelect = document.querySelector("#xAxisSelect")
		const yAxisSelect = document.querySelector("#yAxisSelect")
		// removes previous options
		while (xAxisSelect.firstChild) {
			xAxisSelect.removeChild(xAxisSelect.firstChild)
		}
		while (yAxisSelect.firstChild) {
			yAxisSelect.removeChild(yAxisSelect.firstChild)
		}

		// adds column options
		const selectedTableColumns = Array.from(document.querySelector("#select_TableColumnsSelect").selectedOptions).map(o => o.value);
		for (const tableColumn of selectedTableColumns) {
			xOption = document.createElement("option");
			xOption.value = tableColumn;
			xOption.appendChild(document.createTextNode(tableColumn))
			xAxisSelect.appendChild(xOption);

			yOption = document.createElement("option");
			yOption.value = tableColumn;
			yOption.appendChild(document.createTextNode(tableColumn))
			yAxisSelect.appendChild(yOption);
		}
	}
</script>

{% endblock %}





